/*error message*/
a,
button {
  outline: none!important;
}
html,
body,
.main {
  height: 100%;
}
.main {
  margin-bottom: -50px;
}
.err-msg {
  padding: 5px 5px 0px;
  color: #A94442;
  font-size: 12px;
}
