doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="language" content="en")
    title jade
    link(rel="stylesheet" href="" type="text/css")
    script(type="text/javascript" src="/js/libs/jquery-1.9.1.min.js")
    script(type="text/javascript" src="/js/app.js")
  body
    h1= name
    button#post(type='button') Post