
<div id="footer" ng-controller="footer.ctrl.main" ng-cloak="ng-cloak" class="footer">
  <div class="container">
    <div class="row">
      <div class="social col-md-4"><a href="#" class="fb"></a><a href="#" class="google"></a><a href="#" class="in"></a></div>
      <div class="link-list col-md-4">
        <ul>
          <li><a href="#">{{ lang.home }}</a></li>
          <li><a href="#">{{ lang.faq }}</a></li>
          <li><a href="#">{{ lang.about }}</a></li>
          <li><a href="#/chat">{{ lang.chat }}</a></li>
        </ul>
      </div>
      <div class="contact col-md-4">
        <div class="number">{{ number }}</div>
      </div>
    </div>
  </div>
</div>