#footer.footer(ng-controller="footer.ctrl.main"  ng-cloak )
  .container
    .social.col-md-4
      .fb
      .google
      .in
    .link-list.col-md-4 {{ lang.mod_name }}
    .contact.col-md-4 {{ lang.mod_name }}