#header.header(ng-controller="header.ctrl.main"  ng-cloak )
  .container
   {{ lang.mod_name }}
   a.btn.btn-success.pull-right(ng-href="#/login") Login
   a.btn.btn-success.pull-right(ng-href="#/registration") Registration